.feed{
    flex: 5;
    width: 100%;
    background-color: #18191A;
    
}
.feedContainer{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}