.topBarContainer {
    height: 3.74rem;
    display: flex;
    background-color: #242526;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 10px;
    overflow-x: hidden;
}

.topBarRight {
    flex: 2;
}

.topBarCenter {
    flex: 5;
}

.topBarCenter .topBarLinks {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-between;
}

.topBarLeft {
    display: flex;
    flex: 2;
    align-items: center;
}

.topBarIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #3A3B3C;
    height: 40px;
    width: 240px;
    border-radius: 30px;
    margin-left: 10px;
    padding: 0 10px;
}

.searchBar input {
    width: 90%;
    border-radius: 30px;
    border: none;
    border-width: 0;
    box-shadow: none;
    margin-left: 5px;
    background-color: #3A3B3C;
    color: #B0B3AD;
    font-size: .8rem;
}

input:focus{
    outline: none;
}

.topBarIconItems{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #E4E6EB;
    background-color: #3A3B3C;
    margin: 0 7px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBarIconItems:hover{
    background-color: #464748;
}

.topBarIconItems > svg{
    font-size: 20px;
}

.topBarIconBadge{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.topBarLinkItems{
    color: #B0B3AD;
    cursor: pointer;
    height: 60px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.topBarLinkItems:hover{
    background-color: #3A3B3C;
    border-radius: 10px;
}
.topBarLinkItems> svg{
    height: 30px;
    width: 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}